* {
    margin: 0%;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: azure;
    color: black;
}

a{
    text-decoration: none;
}


/* header */

.login{
    margin-left: 90vw;
    position: absolute;
}
.login input{
    cursor: pointer;
    font-size: larger;
    font-weight: 800;
    border-radius: 20px;
    background-color: rgb(249, 250, 250);
    padding:5px;
    width: 100px;
}
.hospital h1 {
    background-color: rgb(197, 241, 227) transparent;
    margin: 20vw;
    padding: 5px;
    margin-top: 50vh;
    position: absolute;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
    z-index: 1;
}

.navbar {
    margin: 30px;
    padding-top: 1vh;
    display: flex;
    /* flex-basis: 200px; */
    flex-direction: row;
}

.logo {
    overflow: hidden;
    width: 10%;
    border: 2px solid rgb(255, 247, 247);
    border-radius: 40px;
    padding: 2px;

}

.navbar ul {
    text-align: center;
    display: flex;
    gap: 40px;
    flex-direction: row;
    align-items: center;

}

.navbar img {
    margin-right: 40vw;
    width: 100px;
    height: 100px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    font-size: x-large;
    font-weight: 800;
    text-transform: capitalize;
    text-decoration: none;
}

/* sections */

.section {
    overflow: scroll;
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 5%;
}

#home img {
    border-bottom: 5px solid black;
    border-radius: 2%;
    margin-right: 20px;
    width: 100%;
    height: 100%;
}

#home img:hover {
    transition: all 1.2s linear;
    box-shadow: black 2px 2px 10px 10px;
    border-bottom: 5px solid black;
    border-radius: 2%;
    margin-right: 20px;
    width: 101%;
    height: 101%;
}

.about {
    text-align: center;
    font-weight: 500;
}



















#gallary img {
    box-shadow: azure 2px 2px 2px 2px;
    border: 2px solid antiquewhite;
    border-radius: 2px;
    width: 32%;
    height: 50%;
}



.footar{
    border: 40px solid azure;
    border-radius: 50px;
    background-color: black;
}
.footer-contact{
    margin: 20px;
    margin-bottom: 0px;
    display: flex;
    padding-top: 20px;

}


.footer{
    align-items:center;
    display: flex;
    flex-direction: column;
    flex-basis: 30vw;
    background-color: black;
    color: aliceblue;
    border-bottom: 2px solid wheat;
    padding-bottom: 50px;
    margin-bottom: 70px;
}
.footer h2{
     font-size: x-large;
     border-bottom: 2px solid rgb(255, 255, 255);
     text-transform: capitalize;
     margin-top: 15px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-weight: 800;
}

.footer a,.footer label{
    text-transform: capitalize;
    color: aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
    font-size: medium;
    font-weight: 500;
    padding: 2px;
}
